
body {
    font-family: Arial, sans-serif;
    background-color: #428AFF;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 800px;
}

/*parte de cima/cabeça*/
.header-band {
    background-color: #f7d02c; 
    padding: 10px 0;

    border-bottom: 3px solid #f7d02c;
}

/*parte de cima/cabeça escrita*/
.header-band h2 {
    color: #1a1a1a; 
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

/*area da logo*/
.conteúdo-logo {
    padding: 20px;
}

/*logo do poke*/
.pokemon-logo {
    max-width: 350px; 
    height: auto;
    margin-bottom: 50px;
}

/*tipo dos elementros*/
.tipo-icons-inicio {
    background-color: #8EB9FF; 
    padding: 15px 0;
    margin: 0 auto;
    max-width: 800px; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border-radius: 5px;
}

/*elementos link*/
.type-icon-link {
    display: inline-block;
    width: 120px; 
    height: 120px;
    transition: transform 0.2s;
    
}

/*aumenta o temanho do tipo onde ta o mause*/
.type-icon-link:hover {
    transform: scale(1.1);
}

/*imagem dos elementos*/
.type-icon-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*roda pé*/
.footer {
    height: 50px;
    background-color: #f7d02c; 
    color: #1a1a1a; 
    width: 100%; 
    margin-top: 393px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*roda pé escrita*/
.footer p {
    margin: 0; 
    font-size: 1em;
    font-weight: bold;
}