
body {
    font-family: Arial, sans-serif;  /*define a fonte padrão*/
    background-color: #428AFF;  /*adiciona o fundo azul*/
    margin: 0; /*remove margens padrão do body*/
    padding: 0; /*remove margens e espaçamentos*/
    color: #ffffff; /*define a cor do texto como branco*/
}

header {
    background-color: #ffff00; /*define a cor do fundo do cabeçalho como amarelo*/
    color: #000000; /*define a cor do texto do cabeçalho como preto*/
    padding: 10px 0; /*adiciona espaçamento vertical ao cabeçalho*/
    text-align: center; /*centraliza o texto do cabeçalho*/
    position: relative; /*permite posicionamento dos elementos*/
    display: flex; 
    align-items: center; /*centraliza os itens verticalmente*/
    justify-content: center; /*centraliza os itens horizonralmente*/
    height: 100px; /*defone a altura do cabeçalho*/
}

.home-icon {
    position: absolute; /*posicionamento para o ícone*/
    left: 20px;
    font-size: 50px;
    line-height: 1; /*espaçamento entre as linhas*/
    top: 50%; /*posiciona icone verticalmente*/
    transform: translateY(-50%); /*centraliza verticalmente*/
}

header h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold; 
}


.participants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px; /*espaçamento dos cards*/
    padding: 40px 20px; 
}

.participant-card {
    background-color: #00aaff; 
    border-radius: 20px;
    padding: 15px;
    width: 300px; 
    min-height: 200px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start; 
}

.participant-photo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 15px;
    border: 3px solid #ffffff; 
}

.participant-info {
    flex-grow: 1; 
    color: #000000; 
}

.participant-info h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.participant-info p {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
}


@media (max-width: 768px) {
    .participant-card {
        width: 90%; 
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .participant-photo {
        margin: 0 0 10px 0;
    }

    .participant-info {
        text-align: left;
    }
}