/*geral*/
body {
    font-family: Arial, sans-serif; 
    background-color: #428AFF; 
    margin: 0;
    padding: 0;
}

/*parte de cima/cabeça*/
header {
    background-color: #ffff00; /*define a cor do fundo do cabeçalho como amarelo*/
    color: #000000; /*define a cor do texto do cabeçalho como preto*/
    padding: 10px 0; /*adiciona espaçamento vertical ao cabeçalho*/
    text-align: center; /*centraliza o texto do cabeçalho*/
    position: relative; /*permite posicionamento dos elementos*/
    display: flex; 
    align-items: center; /*centraliza os itens verticalmente*/
    justify-content: center; /*centraliza os itens horizonralmente*/
    height: 100px; /*defone a altura do cabeçalho*/
}
/*parte de cima/cabeça icon*/
.home-icon {
    position: absolute; /*posicionamento para o ícone*/
    left: 20px;
    font-size: 50px;
    line-height: 1; 
    top: 50%;
    transform: translateY(-50%);
}
/*parte de cima/cabeça escrita*/
header h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold; 
}

/*area dos participantes*/
.participants-container {
    display: flex;
    justify-content: center; 
    gap: 40px; /*espaçamento dos cards*/
    padding: 40px 20px; 
}
 
/*participantes card*/
.participant-card {
    background-color: #00aaff; 
    border-radius: 20px;
    padding: 15px;
    width: 300px; 
    min-height: 200px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
}
/* foto dos participantes*/
.participant-photo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-right: 15px;
    border: 3px solid #ffffff; 
}
/*participantes info*/
.participant-info {
    color: #000000; 
}

.participant-info h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
}

.participant-info p {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
}

/*Tamanho para outros modelos*/
@media (max-width: 768px) {
    .participant-card {
        width: 90%; 
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .participant-photo {
        margin: 0 0 10px 0;
    }

    .participant-info {
        text-align: left;
    }
}